## Introduction to the Dataset

In [2]:
#Read the csv file into a string
f = open("US_births_1994-2003_CDC_NCHS.csv", 'r')
f = f.read()

#Split the string on the newline character ('\n')
f = f.split('\n')

f[:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

## Converting Data Into A List Of Lists

In [5]:
#The function take a single, required argument, a string representing the file name of the CSV file

def read_csv(file_name):
    f = open(file_name, 'r')
    f = f.read()
    f = f.split('\n')
    string_list = f[1:] #Removing the header
    final_list = []
    int_fields = []
    aux_list = []
    for x in string_list:
        string_fields = x.split(',')
        int_fields.append(string_fields)
    for a in int_fields:
        aux_list = [int(a[0]), int(a[1]), int(a[2]), int(a[3]), int(a[4])]
        final_list.append(aux_list)
    return(final_list)
    
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")
cdc_list[:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

## Calculating Number Of Births Each Month

In [6]:
#This function calculate the monthly totals for the dataset

def month_births(birth_list):
    births_per_month = {}
    for x in birth_list:
        months = x[1]
        births = x[4]
        if months in births_per_month:
            births_per_month[months] = births_per_month[months] + births
        else:
            births_per_month[months] = births
    return(births_per_month)    

cdc_month_births = month_births(cdc_list)  
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

## Calculating Number Of Births Each Day Of Week

In [7]:
#This function calculate the numbers of births for each unique day of the week

def dow_births(birth_list):
    births_per_day = {}
    for x in birth_list:
        day_of_week = x[3]
        births = x[4]
        if day_of_week in births_per_day:
            births_per_day[day_of_week] = births_per_day[day_of_week] + births
        else:
            births_per_day[day_of_week] = births
    return(births_per_day)

cdc_day_births = dow_births(cdc_list)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

## Creating A More General Function

In [8]:
def calc_counts(data, column):
    empty_dic = {}
    for x in data:
        number_column = x[column]
        births = x[4]
        if number_column in empty_dic:
            empty_dic[number_column] = empty_dic[number_column] + births
        else:
            empty_dic[number_column] = births
    return(empty_dic)

cdc_year_births = calc_counts(cdc_list, 0)
cdc_month_births = calc_counts(cdc_list, 1) 
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_dow_births = calc_counts(cdc_list, 3)

cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [10]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [11]:
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [12]:
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}